<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="plugin.xsd">
    <label>Affinidi Login Plugin</label>
    <version>1.0.0</version>
    <author>Paramesh Kamarthi</author>
    <license>MIT</license>
</plugin>
