<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Affinidi Login Configuration</title>
        <input-field>
            <name>AffinidiClientID</name>
            <label>Affinidi Client ID</label>
            <defaultValue>54fd053b-2e12-43be-85f6-7d7679dc8377</defaultValue>
            <placeholder>Your Client ID</placeholder>
            <helpText>Please fill in your Affinidi Client ID from your Affinidi Login Configuration</helpText>
            <!-- <disabled>true</disabled> -->
        </input-field>
        <input-field type="password">
            <name>AffinidiClientSecret</name>
            <label>Affinidi Client Secret</label>
            <defaultValue>scYAJ2mI4tMrdjINNi7l73hTua</defaultValue>
            <placeholder>Your Client Secret</placeholder>
            <helpText>Please fill in your Affinidi Client Secret from your Affinidi Login Configuration</helpText>
            <!-- <disabled>true</disabled> -->
        </input-field>
        <input-field>
            <name>AffinidiIssuer</name>
            <label>Affinidi Issuer</label>
            <defaultValue>https://b3cb1cca-4ffd-4266-9540-289031a1548c.apse1.login.affinidi.io</defaultValue>
            <placeholder>https://{PROJECT_ID}.apse1.login.affinidi.io</placeholder>
            <helpText>Please fill in your Affinidi Issuer from your Affinidi Login Configuration</helpText>
            <!-- <disabled>true</disabled> -->
        </input-field>
    </card>
</config>